{
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "svelteStrictMode": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteAllowShorthand": false,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
